@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --primary-dark: #353F55;
    --primary-light: #F9F9FA;
    --secondary-dark: #CD4258;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-light);
}


body {
    margin: 0 auto;
    background-color: var(--primary-dark);
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 15%) 85%;
    grid-template-rows: auto 1fr auto;

}

#header{
    height: 5vh;
    background-color: var(--secondary-dark);
    grid-column: 1/3;
    grid-row: 1/2;
}

#nav-menu{
    height: 95vh;
    background-color: var(--primary-dark);
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 40px;

}

#projects{
    display: flex;
    flex-flow: column ;
    gap: 5px;
    width: 75%;
    height: 10vh;
    align-items: flex-start;
    
}

#default{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.4rem;

}

.default-button-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 10px;
}

.default-button-container:hover,#inbox-button:hover, #today-button:hover, #weekly-button:hover{
    background-color: var(--secondary-dark);
    border-radius: 5px;
    cursor: pointer;

}


.nav.button{
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background: none;
    color: var(--primary-light);
    border: none;
    padding: 0;
}







#add-new-project-container:hover, #add-new-project:hover, .fa-bold.fa-plus:hover{
    color: var(--secondary-dark);
    transition: 0.2s;
    cursor: pointer;
}



.nav-menu-title{
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    font-weight: 500;

}


#content{
    grid-column: 2/3;
    background-color: var(--primary-light) ;
}

#add-new-project-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 30px;
}

.fa-bold.fa-plus{
    font-size: 1.6em;
}

#add-new-project{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}



#new-project-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
}

#project-name-input, #project-name-input:active{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: none;
    padding: 5px;
    outline: none;
    box-shadow: 0 0 0 20px var(--primary-light) inset;
}

#project-name-input::placeholder{
    color:#c9c9c9;
}




#form-btn-container{
    margin-left: auto;
}

#footer{

    background-color: var(--secondary-dark);
    grid-column: 1/3;
    grid-row: 3/4;
}

#projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.project-name{
    margin-right: auto;
}

.project-delete{
    text-shadow: 2px 1px 5px var(--primary-dark);
}

.project-delete:hover{
    transform: scale(0.90);
}


.project:hover{
    background-color: var(--secondary-dark);
    border-radius: 5px;
}

form .button{
    height: 25px;
    background-color: var(--secondary-dark);
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}

form .button:hover{
    background-color: #b73c4f;
    box-shadow: 0px 0px 3px var(--secondary-dark);
    cursor: pointer;
}
